body {
    background-color: #222;
    background-color: #111213;
    /* background-color: var(--bs-body-color); */
}

body.swal2-shown>[aria-hidden="true"] {
    transition: 0.1s filter;
    filter: blur(10px);
}

.card-projeto {
    background-color: var(--bs-gray-900)
}

.card-chapa {
    background-color: var(--bs-gray-800)
}

.card-peca {
    background-color: var(--bs-gray-900)
}