body {
    background-color: #222;
    background-color: #111213;
    /* background-color: var(--bs-body-color); */
}

.card-projeto {
    background-color: var(--bs-gray-900)
}

.card-material {
    background-color: var(--bs-gray-800)
}

.card-peca {
    background-color: var(--bs-gray-900)
}